* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

body {
  height: 100vh;
  background-color: black;
  background-image: url('../assets/img/firespin-4k-mq.jpg');
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

li {
  list-style: none;
  padding-right: 1.5rem;
}

a {
  text-decoration: none;
  color: antiquewhite;
  font-size: 1rem;
}
a:hover {
  color: orange;
}

/* Header */
header {
  text-align: center;
  position: relative;
  padding: 0 2rem;
}

.navbar {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}

.logo {
  flex: 1;
  text-align: left;
}

.links {
  flex: 1;
  display: flex;
  justify-content: center;
}

h1 {
  font-size: 5.5rem;
  color: antiquewhite;
  margin-bottom: 20px;
}

.button {
  background-color: orange;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.5rem;
  transition: background-color 0.3s;
}

.button:hover {
  background-color: darkorange;
}


/*Login*/

 .login {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
 }
 .wrapper {
  width: 420px;
  background: transparent; 
  border: 2px solid rgba(255, 255, 255, .2);
  backdrop-filter: blur(20px);
  box-shadow: 0 0 10px rgba(255, 255, 255, .2);
  color: #fff;
  border-radius: 10px;
  padding: 30px 40px;
 }
 .wrapper h1 {
  font-size: 36px;
  text-align: center;
 } 
 .wrapper .input-box {
  position: relative;
  width: 100%;
  height: 50px;
  background: transparent;
  margin: 30px 0;
 }
 .input-box input {
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  border: 2px solid rgba(255, 255, 255, .2);
  border-radius: 40px;
  font-size: 16px;
  color: #fff;
  padding: 20px 45px 20px 20px;
 }
 .input-box input::placeholder {
  color: #fff;
 }
 .input-box i {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
 }
 .wrapper .remember-forgot { 
  display: flex;
  justify-content: space-between;
  font-size: 14.5px;
  margin: -15px 0 15px;
 }
 .remember-forgot label input {
  accent-color: #fff;
  margin-right: 3px;
 }
 .remember-forgot a {
  color: #fff;
  text-decoration: none;
 }
 .remember-forgot a:hover {
  text-decoration: underline;
 }
 .wrapper .btn {
  width: 100%;
  height: 45px;
  background: #fff;
  border: none;
  outline: none;
  border-radius: 40px;
  box-shadow: 0 0 10px rgba(0, 0,0,.1);
  cursor: pointer;
  font-size: 16px;
  color: #333;
  font-weight: 600;
 }
 .wrapper .register-link {
  font-size: 14.5px;
  text-align: center;
  margin-top: 20px 0 15px ;
 }
 .wrapper .register-link p {
  padding: 0.7rem;
 }
 /*DASHBOARD*/

 /*navegacion*/

 .nav {
  height: 100vh;
  width: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), url(../assets/img/firespin-4k-mq.jpg));
  background-size: cover;
  background-position: center;
 }
 nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 40px;
  padding-left: 10%;
  padding-right: 10%;
 }
 .titulo {
  font-size: 28px;
 }
 nav ul li {
  list-style-type: none;
  display: inline-block;
  padding: 10px 20px;
 }
 nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 22px;
 }
 nav button {
  border: none;
  background: #ea1538;
  padding: 12px 30px;
  border-radius: 30px;
  color: white;
  font-weight: bold;
  font-size: 15px;
  transition: .4s;
 }
 nav button:hover {
  transform: scale(1.3);
  cursor: pointer;
 }

 /*footer dashboard*/

 /*Footer*/

footer {
  width: 100%;
  margin-top: 100px;
  bottom: 0;
  background: transparent;
  backdrop-filter: blur(20px);
  box-shadow: 0 0 10px rgba(255, 255, 255, .2);
  color: bisque;
  padding: 100px 0 30px;
  border-top-left-radius: 125px;
  font-size: 13px;
  line-height: 20px;
} 
.row {
  width: 85%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
  
}
.col {
  flex-basis: 25%;
  padding: 10px;
}
.redes {
  display: grid;
}
.col a {
  
  font-size: 16px;
  color: bisque;

}
.col a:hover {
  color: #0DB8DE;
}
.col h3 {
  width: fit-content;
  border-bottom: 1px solid red;
  margin: 20px 0;
}
.link {
  margin-bottom: 20px;
  font-family: 'Josefin Sans', sans-serif;
}
.col ul li {
  list-style: none;
  color: bisque;
}
.col ul li a {
  text-decoration: none;
  color: bisque;
}
.col img {
  width: 50px;
  height: 50px;
  margin: 10px;
}

/*botones*/

/*Whattsapp*/
.wht {
  position: relative;
  padding: 20px 45px;
  text-decoration: none;
  color: bisque;
  letter-spacing: 10px;
  margin-bottom: 25px ;
}
.btn-3 {
  transition: all 0.6s ease;
  z-index: 1;
}
.btn-3::after {
  content: "";
  position: absolute;
  width: 5%;
  height: 100%;
  left: -10px;
  top: 0;
  background-color: bisque;
  transform: skew(20deg, 0deg);
  transition: all 0.4s ease;
}
.btn-3::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  transform: skew(20deg, 0deg);
  border: 3px solid #03cc57; 
  transition: all 0.4s ease;
  z-index: -1;
}
.btn-3:hover::after {
  background-color: #ffffff31;
  transform: skew(20deg, 0deg) translateX(280px);
}
.btn-3:hover::before {
  background-color: #03cc57;
  border: 3px solid #029740;
  transform: skew(20deg, 0deg) scale(1.1); 
}

/*instagram*/
.btn-2 {
  transition: all 0.6s ease;
  z-index: 1;
}
.btn-2::after {
  content: "";
  position: absolute;
  width: 5%;
  height: 100%;
  left: -10px;
  top: 0;
  background-color: bisque;
  transform: skew(20deg, 0deg);
  transition: all 0.4s ease;
}
.btn-2::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  transform: skew(20deg, 0deg);
  border: 3px solid #f79b35; 
  transition: all 0.4s ease;
  z-index: -1;
}
.btn-2:hover::after {
  background-color: #ffffff31;
  transform: skew(20deg, 0deg) translateX(280px);
}
.btn-2:hover::before {
  background-color: #900ad3;
  border: 3px solid #f79b35;
  transform: skew(20deg, 0deg) scale(1.1); 
}
/*Fin botones*/
/*Fin footer*/

/* SECCION: EXPLORA*/
.grid-containerr {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.profile {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
  text-align: center;
  color: white;
  padding: 10px;
  height: max-content;
}

.profile img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.social-links {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.social-links a {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ccc;
  color: #fff;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  text-decoration: none;
}

.social-links i {
  font-size: 20px;
}